# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Examples
examples/create_device
examples/delete_device_values
examples/list_devices
examples/update_device
examples/m2x_status
